.custom-pagination {
  list-style: none;

  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 2px;
  font-size: 20px;

  cursor: pointer;
}

.active-page {
  background-color: #1e50ff;
  border-radius: 50%;
  color: white;
}

.pagination-a {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: rgb(108, 117, 125);
  transition: 0.3s;
}

.pagination-li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
